<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div style="padding: 500px 100px 100px;">
	    <button type="button" id="search" class="btn btn-success">查 询</button>
	    <button type="button" id="incentive" class="btn btn-success" 
	    style="margin-left:30px">激 励</button>
	    <table class="table table-striped">
		  <caption>条纹表格布局</caption>
		  <thead>
		    <tr>
		      <th>名称</th>
		      <th>城市</th>
		      <th>邮编</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Tanmay</td>
		      <td>Bangalore</td>
		      <td>560001</td>
		    </tr>
		    <tr>
		      <td>Sachin</td>
		      <td>Mumbai</td>
		      <td>400003</td>
		    </tr>
		    <tr>
		      <td>Uma</td>
		      <td>Pune</td>
		      <td>411027</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<script type="text/javascript" src="jquery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="javascripts/recordShow.js"></script>
</body>
</html>
